.form-center{
    display: flex;
    justify-content: center;
    width: 400px;
    margin: 2 auto;
    border: 2% solid;

}
.form-center form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }