.dropbtn {
  background-color: #04AA6D;
  align-items: right;
  color: white;
  padding: 16px;
  max-width: fit-content;
  margin-left: 5%;
  margin-bottom: 2%;
  cursor: pointer;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  align-content: center;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 190px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.footer{
    background-color: rgb(101, 99, 99) !important;
    align-content: center !important;
    align-items: center !important;
    text-align: center;
    color: #fafafa;
    padding: 3dvh;
    width: 100%;
    height: 2%;
    text-transform: capitalize !important;
    text-transform: inherit;
    text-overflow: ellipsis;
    text-shadow: black !important;

}

.img_svvv{
    float: left;
    align-content: baseline;
    align-tracks: 2vh;
    
}

.useful_links{
    text-align: left !important;
    color: rgb(179, 141, 141);
    text-decoration: dotted;
    image-rendering: optimizeQuality;
    justify-content: top;
    align-items: flex-start;
}

.address{
    text-align: center !;
    justify-self: unset;
    size: 7%;
    font-size: medium;
}

.mySlides{
  margin: 15deg;
  padding: 15deg;
  border-radius: 15deg;
}

.topnav {
  background-color: #333;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #10b2d6;
  color: white;
}

